.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ECD0C6;
    padding: 20px;
    z-index: 100;
}

.header__left {
    display: flex;
}

.header__left > p {
    margin: 10px;
    font-size: 12.5px;
    font-weight: 500;
}

.header__right {
    display: flex;
}

.header__right > p {
    margin: 10px;
    font-size: 12.5px;
    font-weight: 600;
}

.header__left > p:hover {
    text-decoration: underline;
}

.header__right > p:hover {
    text-decoration: underline;
}